<div class="row">
    <div class="col-1 col-md-2 col-sm-2">
        <app-navbar></app-navbar>
    </div>
    <div class="card col-11 col-md-10 col-sm-10">
        <div class="card-header text-light">
            <h2>Listado de valoraciones</h2>
        </div>
        <div class="mb-2 text-light">
            Filtros: <button class="btn btn-sm btn-success" (click)="nuevoFiltro()">+</button>
            <div class="float-end">
                <button class="btn btn-sm btn-secondary" (click)="buscar()">Buscar</button>
                <button class="btn btn-sm btn-primary" (click)="limpiarFiltro()">Limpiar filtro</button>
            </div>
        </div>
        <div *ngFor="let filtro of filtros" class="row input-group m-auto mb-1">
            <select class="form-select-sm col-3 text-white filtros s" [(ngModel)]="filtro.property">
                <option *ngFor="let prop of propiedades">{{prop}}</option>
            </select>
            <input class="form-control col-8" [(ngModel)]="filtro.value">
            <button class="btn btn-danger col-1" (click)="borrarFiltro(filtro)">-</button>
        </div>
        <table class="table tabla text-light">
            <thead>
                <tr>
                    <th>Oficial evaluado</th>
                    <th>Rango oficial</th>
                    <th>Supervisor</th>
                    <th>Rango supervisor</th>
                    <th>Puntuación</th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let valoracion of valoracionesFiltradas" [class]="((valoracion.puntuacion)> 6) ? 'bg-success' : 'bg-danger'">
                    <td>{{ valoracion.oficial.nombre }}_{{valoracion.oficial.apellido}}</td>
                    <td>{{ valoracion.oficial.rango?.nombre  || "Sin definir"}}</td>
                    <td>{{ valoracion.encargado.nombre }}_{{valoracion.encargado.apellido}}</td>
                    <td>{{ valoracion.encargado.rango?.nombre || "Sin definir"}}</td>
                    <td>{{ valoracion.puntuacion}}</td>
                    <td>{{ valoracion?.fecha || "Sin definir"}}</td>
                    <td><button class="btn btn-warning" (click)="verDetalle(valoracion)">Detalle</button></td>
                </tr>
            </tbody>
        </table>
        
        <span class="border rounded border-warning" *ngIf="valoracionDetalle != null">
            <p class="text-light">Oficial evaluado: {{ valoracionDetalle.oficial?.nombre }}_{{valoracionDetalle.oficial?.apellido}} </p>
            <p class="text-light">Oficial encargado: {{ valoracionDetalle.encargado?.nombre }}_{{valoracionDetalle.encargado?.apellido}} </p>
            <p class="text-light">Puntuación: {{ valoracionDetalle.puntuacion }} </p>
            <p class="text-light">Puntuación detallada:</p>
            <hr class="bg-light">
            <div class="input-group mb-3 text-light" *ngFor="let detalleP of vistaDetalle">
                <input class="form-check-input" type="checkbox" id="CheckPuntuacion" name="CheckPuntuacion" disabled [(ngModel)]="detalleP.checked" >  {{detalleP.label}} {{detalleP.descripcion}} | Puntaje: {{detalleP.puntaje * detalleP.checked}}
            </div>
            <hr class="bg-light">
            <p class="text-light">Observacion: {{valoracionDetalle.observacion}}</p>
            <p class="text-light">Fecha: {{valoracionDetalle.fecha}}</p>
            
        </span>
    </div>
</div>
