<div class="row">
    <div class="col-1 col-md-2 col-sm-2">
        <app-navbar></app-navbar>
    </div>
    <div class="card col-11 col-md-10 col-sm-10">
        <div class="card-header text-light" (click)="generalEstadisticas=!generalEstadisticas" *ngIf="true">Estadísticas generales. (click aquí para mostrar u ocultar)</div>
        <div class="row" *ngIf="generalEstadisticas">
            <div class="row col-12">
                <div class="row-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Fecha desde</span>
                        <input [(ngModel)]="limitesGeneralFechaDesde" type="date" class="form-control formulario" onkeydown="return false" (change)="calcularBalanceGeneral()"> 
                    </div>
                </div>
                <div class="row-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Fecha hasta</span>
                        <input [(ngModel)]="limitesGeneralFechaHasta" type="date" class="form-control formulario" onkeydown="return false" (change)="calcularBalanceGeneral()"> 
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Comisaría</span>
                    <select type="text" class="form-control text-white" name="selectComisaria" id="selectComisaria"
                        [(ngModel)]="comisaria" (change)="calcularBalanceGeneral()">
                        <option [ngValue]="null">Todas las comisarías</option>
                        <option *ngFor="let comisariaVar of comisarias" [ngValue]="comisariaVar">{{comisariaVar.nombre}} | Indicativo: {{ comisariaVar.indicativo}}</option>
                    </select>
                </div>

            </div>
            <google-chart class="col-9 w-100" #chart  
            [title]="title"  
            [type]="type"  
            [data]="balanceGeneral"  
            [options]="options"  
            [columns]="columnNames"
            [height]="height">  
            </google-chart> 
            <p class="text-light mt-2">Comparar oficiales <button (click)="compararOficiales = !compararOficiales" class="btn" [class]="compararOficiales ? 'btn-warning':'btn-success'">{{(compararOficiales ? '-':'+') }}</button></p>
            <div *ngIf="compararOficiales" class="row">
                
                <div class="input-group col-12">
                    <span class="input-group-text">Oficial 1</span>
                    <select type="text" class="form-control text-white" name="selectOficial1" id="selectOficial1" (change)="obtenerInfoPD(0)" [(ngModel)]="oficialStats[0].oficial">
                        <option *ngFor="let oficial of usuarios" [ngValue]="oficial">{{oficial.nombre}}_{{oficial.apellido}} | Rango: {{oficial.rango?.nombre}} | Poder: {{ oficial.rango?.poder}}</option>
                    </select>
                    <span class="input-group-text">Oficial 2</span>
                    <select type="text" class="form-control text-white" name="selectOficial2" id="selectOficial2" (change)="obtenerInfoPD(1)" [(ngModel)]="oficialStats[1].oficial">
                        <option *ngFor="let oficial of usuarios" [ngValue]="oficial">{{oficial.nombre}}_{{oficial.apellido}} | Rango: {{oficial.rango?.nombre}} | Poder: {{ oficial.rango?.poder}}</option>
                    </select>

                </div>     
                <google-chart class="col-6 w-50" #chart  
                [title]="title"  
                [type]="type"  
                [data]="oficialStats[0]['stats']"  
                [options]="options"  
                [columns]="columnNames"
                [height]="height">  
                </google-chart> 
                <google-chart class="col-6 w-50" #chart  
                [title]="title"  
                [type]="type"  
                [data]="oficialStats[1]['stats']"  
                [options]="options"  
                [columns]="columnNames"
                [height]="height">  
                </google-chart> 
            </div>
        </div>

        <div class="card-header text-light" (click)="filtradosEstadisticas=!filtradosEstadisticas" *ngIf="false">Estadísticas de los datos listados. (click aquí para mostrar u ocultar)</div>
        <div *ngIf="filtradosEstadisticas && false">
            <google-chart #chart  
            [title]="title"  
            [type]="type"  
            [data]="data"  
            [options]="options"  
            [width]="width"  
            [height]="height">  
            </google-chart> 
        </div>
        <div class="card-header text-light">
            <h2>Fichas</h2>
        </div>
        <div class="mb-2 text-light">
            Filtros: <button class="btn btn-sm btn-success" (click)="nuevoFiltro()">+</button>
            <div class="float-end">
                <button class="btn btn-sm btn-secondary" (click)="buscar()">Buscar</button>
                <button class="btn btn-sm btn-primary" (click)="limpiarFiltro()">Limpiar filtro</button>
            </div>
        </div>
        <div *ngFor="let filtro of filtros" class="row input-group m-auto mb-1">
            <select class="form-select-sm col-3 text-white filtros s" [(ngModel)]="filtro.property">
                <option *ngFor="let prop of propiedades">{{prop}}</option>
            </select>
            <input class="form-control col-8" [(ngModel)]="filtro.value">
            <button class="btn btn-danger col-1" (click)="borrarFiltro(filtro)">-</button>
        </div>
        <table class="table tabla text-light">
            <thead>
                <tr>
                    <th>Oficial evaluado</th>
                    <th>Rango oficial</th>
                    <th>Comisaría oficial</th>
                    <th>Supervisor</th>
                    <th>Rango supervisor</th>
                    <th>Comisaría supervisor</th>
                    <th title="Puntuación">P.</th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let valoracion of valoracionesFiltradas" [class]="((valoracion.puntuacion)> 6) ? 'bg-success' : 'bg-danger'">
                    <td>{{ valoracion.oficial.nombre }}_{{valoracion.oficial.apellido}}</td>
                    <td>{{ valoracion.oficial.rango?.nombre  || "Sin definir"}}</td>
                    <td>{{ valoracion.oficial.comisaria?.indicativo || "Sin definir"}}</td>
                    <td>{{ valoracion.encargado.nombre }}_{{valoracion.encargado.apellido}}</td>
                    <td>{{ valoracion.encargado.rango?.nombre || "Sin definir"}}</td>
                    <td>{{ valoracion.encargado.comisaria?.indicativo || "Sin definir"}}</td>
                    <td>{{ valoracion.puntuacion}}</td>
                    <td>{{ valoracion?.fecha || "Sin definir"}}</td>
                    <td><button class="btn btn-warning" (click)="verDetalle(valoracion)">Detalle</button>
                        <button class="btn btn-danger d-none" (click)="eliminarFicha(valoracion)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
        
        <span class="border rounded border-warning" *ngIf="valoracionDetalle != null">
            <p class="text-light">Oficial evaluado: {{ valoracionDetalle.oficial?.nombre }}_{{valoracionDetalle.oficial?.apellido}} </p>
            <p class="text-light">Oficial encargado: {{ valoracionDetalle.encargado?.nombre }}_{{valoracionDetalle.encargado?.apellido}} </p>
            <p class="text-light">Puntuación: {{ valoracionDetalle.puntuacion }} </p>
            <p class="text-light">Puntuación detallada:</p>
            <hr class="bg-light">
            <div class="input-group mb-3 text-light" *ngFor="let detalleP of vistaDetalle">
                <input class="form-check-input" type="checkbox" id="CheckPuntuacion" name="CheckPuntuacion" disabled [(ngModel)]="detalleP.checked" >  {{detalleP.label}} {{detalleP.descripcion}} | Puntaje: {{detalleP.puntaje * detalleP.checked}}
            </div>
            <hr class="bg-light">
            <p class="text-light">Observacion: {{valoracionDetalle.observacion}}</p>
            <p class="text-light">Fecha: {{valoracionDetalle.fecha}}</p>
            
        </span>
    </div>
</div>
