<div class="card">
  <div class="card-header"><h2 class="text-light">Menu</h2></div>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a [routerLink]="['/admin/usuarios']" routerLinkActive="bg-info" class="nav-link text-light py-3 border-bottom" title="Administración Usuarios">
        <i class="bi bi-people"></i>
      </a>
    </li>
    <li>
      <a [routerLink]="['/admin/valoracionoficial']" routerLinkActive="bg-info" class="nav-link text-light py-3 border-bottom" title="Administración Valoración Oficiales">
        <i class="bi bi-people"></i>
      </a>
    </li>
  </ul>
  
</div>
