<div class="card">
  <div class="card-header"><h2 class="text-light">Menu</h2></div>
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a [routerLink]="['/admin/usuarios']" routerLinkActive="bg-info" class="nav-link text-light py-3 border-bottom" title="Administración Usuarios">
        <i class="bi bi-people"></i>
        Admin usuarios
      </a>
    </li>
    <li>
      <a [routerLink]="['/admin/valoracionoficial']" routerLinkActive="bg-info" class="nav-link text-light py-3 border-bottom" title="Administración Valoración Oficiales">
        <i class="bi bi-book-half"></i>
        Admin fichas
      </a>
    </li>
    <li>
      <a [routerLink]="['/admin/valoracionoficial']"  *ngIf="isPTB" routerLinkActive="bg-info" class="nav-link text-light py-3 border-bottom" title="Administración Valoración Oficiales">
        <i class="bi bi-book-half"></i>
        Admin fichas PTB
      </a>
    </li>
    <li>
      <a [routerLink]="['/admin/rangos']" routerLinkActive="bg-info" class="nav-link text-light py-3 border-bottom" title="Administración Valoración Oficiales">
        <i class="bi bi-shield"></i>
        Admin rangos
      </a>
    </li>
    <li>
      <a [routerLink]="['/supervisor/valoracionoficial']" routerLinkActive="bg-info" class="nav-link text-light py-3 border-bottom" title="Administración Valoración Oficiales">
        <i class="bi bi-book"></i>
        Crear/Ver fichas
      </a>
    </li>
    <li>
      <a [routerLink]="['/supervisor/fichaptb']" *ngIf="isPTB" routerLinkActive="bg-info" class="nav-link text-light py-3 border-bottom" title="Administración Valoración Oficiales">
        <i class="bi bi-book"></i>
        Crear/Ver fichas PTB
      </a>
    </li>
    <li>
      <a [routerLink]="['/supervisor/micuenta']" routerLinkActive="bg-info" class="nav-link text-light py-3 border-bottom" title="Administración Valoración Oficiales">
        <i class="bi bi-gear"></i>
        Mi cuenta
      </a>
    </li>
    <li>
      <a (click)="logout()" class="nav-link text-light py-3 border-bottom" title="Desconectarse">
        <i class="bi bi-power"></i>
        Cerrar sesión
      </a>
    </li>
  </ul>
  
</div>
