<div class="row">
    <div class="col-1 col-md-2 col-sm-2">
        <app-navbar></app-navbar>
    </div>
    <div class="col-11 col-md-10 col-sm-10">
        <div class="card">
            <div class="card-header text-light">Cambiar contraseña</div>
            <div class="card-body">
                <form class="formulario" (submit)="cambiarPassword()" [formGroup]="claveForm">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Contraseña</span>
                        <input formControlName="clave" type="password" class="form-control text-white">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Confirmar cambio</span>
                        <input type="password" formControlName="claveConfirmacion" class="form-control text-white">
                    </div>
                    <button class="btn btn-success w-100" type="submit" [disabled]="claveForm.invalid">Confirmar cambio</button>
                </form>
            </div>
        </div>
    </div>

</div>
