/* You can add global styles to this file, and also import other style files */
body{
    background: url("/assets/img/mrpd.png") no-repeat center center fixed;
    background-position: inherit;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}