<div class="row">
    <div class="col-1 col-md-2 col-sm-2">
        <app-navbar></app-navbar>
    </div>
    <div class="col-11 col-md-10 col-sm-10">
        <div class="card">
            <div class="card-header text-light"><h2>Agregar nueva sanción</h2></div>
            <div class="input-group mb-3">
                <span class="input-group-text">Oficial</span>
                <select type="text" class="form-control text-white" name="selectOficial" id="selectOficial"
                    [(ngModel)]="sancion.oficial">
                    <option *ngFor="let oficial of usuarios" [ngValue]="oficial">{{oficial.nombre}}_{{oficial.apellido}} | Rango: {{oficial.rango?.nombre}} | Poder: {{ oficial.rango?.poder}}</option>
                </select>
            </div>
            <hr class="bg-light">
            <div class="input-group mb-3">
                <span class="input-group-text">Sanción con degrado</span>
                <select type="text" class="form-control text-white" name="selectPTB" id="selectPTB" [(ngModel)]="sancion.degrado">
                    <option [ngValue]="false">NO</option>
                    <option [ngValue]="true">SI</option>
                </select>
            </div>
            <hr class="bg-light">
            <div class="input-group mb-3">
                <span class="input-group-text w-25">Detalle</span>
                <textarea class="w-75" id="inputObservacion" name="inputObservacion" [(ngModel)]="sancion.observacion" required>
                </textarea>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Fecha</span>
                <input [(ngModel)]="sancion.fecha" type="date" class="form-control formulario" onkeydown="return false" [max]="maxDate | date: 'yyyy-MM-dd'"> 
            </div>
            <button class="btn btn-success" (click)="crearSancion()">Enviar ficha</button>
        </div>
        <div class="card">
            <div class="card-header text-light">
                <h2>Sanciones realizadas.</h2>
            </div>
            <div class="mb-2 text-light">
                Filtros: <button class="btn btn-sm btn-success" (click)="nuevoFiltro()">+</button>
                <div class="float-end">
                    <button class="btn btn-sm btn-secondary" (click)="buscar()">Buscar</button>
                    <button class="btn btn-sm btn-primary" (click)="limpiarFiltro()">Limpiar filtro</button>
                </div>
            </div>
            <div *ngFor="let filtro of filtros" class="row input-group m-auto mb-1">
                <select class="form-select-sm col-3 text-white filtros s" [(ngModel)]="filtro.property">
                    <option *ngFor="let prop of propiedades">{{prop}}</option>
                </select>
                <input class="form-control col-8" [(ngModel)]="filtro.value">
                <button class="btn btn-danger col-1" (click)="borrarFiltro(filtro)">-</button>
            </div>
            <table class="table tabla text-light">
                <thead>
                    <tr>
                        <th>Oficial sancionado</th>
                        <th>Rango en sanción</th>
                        <th>Rango actual</th>
                        <th>Grado</th>
                        <th>Fecha</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sanc of sancionesFiltradas">
                        <td>{{ sanc.oficial.nombre }}_{{sanc.oficial.apellido}}</td>
                        <td>{{ sanc.rangodurante }}</td>
                        <td>{{ sanc.oficial.rango?.nombre || "Sin definir"}}</td>
                        <td>{{ ((sanc.degrado) ? "SI" : "NO")}}</td>
                        <td>{{ sanc.grado?.nombre || "Grado inválido" }}</td>
                        <td>{{ sanc?.fecha || "Sin definir"}}</td>
                        <td><button class="btn btn-warning" (click)="verDetalle(sancion)">Detalle</button></td>
                    </tr>
                </tbody>
            </table>
            
            <span class="border rounded border-warning detalleficha" *ngIf="sancionDetalle != null">
                <p class="text-light">Oficial sancionado: {{ sancionDetalle.oficial?.nombre }}_{{sancionDetalle.oficial?.apellido}} </p>
                <p class="text-light">Supervisor: {{ sancionDetalle.supervisor?.nombre }}_{{sancionDetalle.supervisor?.apellido}} </p>
                <p>Grado sanción: {{ sancionDetalle.grado?.nombre || "Sin definir"}}</p>
                <p class="text-light">Con degrado: {{ ((sanc.degrado) ? "SI" : "NO")  }} </p>
                <p class="text-light">Detalle: {{sancionDetalle.observacion}}</p>
                <p class="text-light">Fecha: {{sancionDetalle.fecha}}</p>
                <p></p>
            </span>
        </div>   
    </div>

</div>
